body {
    font-family: "Lato", sans-serif;
}

td {
    word-break: break-all;
}

#MeanTitle {
    height: 150px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#connectbtnDIS {
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}

#commandbtn {
    position: center;
    padding-left: 0px;
    padding-bottom: 10px;
}

#disconnectbtn {
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}

#connectV {
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}

#main {
    transition: margin-left;
    padding: 2px;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#mapLayout {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}


.infobox {
    color: #56baed;
    background: whitesmoke;
    max-width: 300px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.marker {
    background-image: url('/static/img/plane2.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

#tabcontent {
    height: 300px;
}

.extra-info-header {
     color: #2a2d75;
     font-weight: bold;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contentValue{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: lighter;
}

.tabTitle{
    background: rgba(247, 18, 2, 0.836);
}

.contentValue{
    word-wrap: break-word;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow-y: auto;
/*  -webkit-animation-name: fadeIn; /* Fade in the background */
/*  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
*/
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
/*  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
*/
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

#slideOut {
    left:0;
    width:268px;
    -webkit-animation-name: slideOut;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1.5s;
    animation-name: slideOut;
    animation-iteration-count: once;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slideOut {
  from {bottom: 0; opacity: 1}
  to {bottom: -300; opacity: 0}
}

@keyframes slideOut {
  from {bottom: 0; opacity: 1}
  to {bottom: -300px; opacity: 0}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}


html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.address-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.address-input input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.address-input select {
  width: 200px;
}

.waypoint-list {
  margin-bottom: 10px;
}

.waypoint-list button {
  margin-right: 5px;
}

.suggested-addresses-container {
  position: relative;
  color: black;
}

.suggested-address {
  cursor: pointer;
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.suggested-address:hover {
  background-color: #e1e1e1;
}

.waypoints-container, .address-input, .suggested-addresses-container, .add-address, .clear-all {
  margin-top: 10px;
  display: block;
}

.waypoint, .remove {
  margin: 10px;
}

