body {
    font-family: "Lato", sans-serif;
}
#MeanTitle{
    height:150px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
#connectbtnDIS{
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}

#commandbtn{
    position: center;
    padding-left: 0px;
    padding-bottom: 10px;
}

#disconnectbtn{
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}
#connectV{
    position: center;
    padding-left: 0px;
    padding-bottom: 20px;
}

#main {
    transition: margin-left;
    padding: 2px;
}
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}
#mapLayout{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#commandLine{
    padding-left: 40px;
    padding-top:10px;
    padding-bottom: 0px;
}
#commandID{
    width:260px;
}

#infobox {
    color: #56baed;
  background: #0d0d0d;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.marker {
  background-image: url('/static/img/plane2.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
