

.address-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.address-input input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.address-input select {
  width: 200px;
}

.waypoint-list {
  margin-bottom: 10px;
}

.waypoint-list button {
  margin-right: 5px;
}

.suggested-addresses-container {
  position: relative;
  color: black;
}

.suggested-address {
  cursor: pointer;
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.suggested-address:hover {
  background-color: #e1e1e1;
}

.waypoints-container, .address-input, .suggested-addresses-container, .add-address, .clear-all {
  margin-top: 10px;
  display: block;
}

.waypoint, .remove {
  margin: 10px;
}

.address-input {
  width: 500px;
}

