<!DOCTYPE html>
<html lang="en">

<head>
  <title>CloudStation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
<!-- Bootstrap styles -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Create emtpy array of instances of WebDrones class every time page loads -->

<script>
  // This script will run when the page is loaded
  window.m_Array_of_WebDrone_objects = []; // empty array of webdrone objects
</script>

  {% load static %}
<!-- 
  <link href="{% static 'css/layoutstyle.css' %}" rel="stylesheet">
//-->

</head>

<body>
  <style>
    /* Apply styles to the paragraph */
    p {
      border: 1px solid #3498db;
      /* Border color is light blue (#3498db) */
      background-color: #f2f7ff;
      /* Light blue background color (#f2f7ff) */
      padding: 2px;
      /* Add some padding for better visual appearance */
      max-width: 200px;
      /* Limit the width to approximately 20 characters (assuming an average character width) */
      word-wrap: break-word;
      /* Allow words to break onto the next line if they exceed the max-width */
    }

        /* Optional: Add some basic styling */
        .switch-container {
      display: flex;
      align-items: center;
    }

    .switch-label {
      margin-right: 10px;
    }
    textarea {
      width: 300px;
      height: 300px;
      resize: both; /* Enables both horizontal and vertical resizing */
      padding: 10px;
      box-sizing: border-box;
    }
  </style>


  <h1>Vehicle</h1>
  <h2>Connect</h2>
  <div>Leave IP at 0.0.0.0 or blank if not known.</div>
  <br>
  <form>
    <label for="DRONE_IP">DRONE_IP </label>
    <input type="text" id="DRONE_IP" name="DRONE_IP" value="0.0.0.0">

    <label for="DRONE_PORT">DRONE_PORT </label>
    <input type="text" id="DRONE_PORT" name="DRONE_PORT" required value="14558">

    <input type="button" value="Submit" onclick="connectVehicle_by_IP_and_PORT()">
  </form>
  <h2>Disconnect</h2>
  <label for="disVID">DRONE_PORT:</label>
  <input type="text" class="form-control" id="disVID" required value="14558">
  <br>
  <button type="button" class="btn btn-danger" onclick="disconnectVehicle()">Disconnect</button>

  <h2>Comms</h2>
  <h3>local ip:</h3>
  <p id="drone_local_IP">This text can be updated dynamically. </p>
  <h3>drone ip:</h3>
  <p id="drone_remote_IP">This text can be updated dynamically.</p>


<!--
  <h2>Telemetry</h2>
  <h3>lat:</h3>
  <p id="dynamicTextlat">This text can be updated dynamically. </p>
  <h3>lon:</h3>
  <p id="dynamicTextlon">This text can be updated dynamically.</p>
  <h3>alt:</h3>
  <p id="dynamicTextalt">This text can be updated dynamically.</p>
  <h3>time:</h3>
  <p id="dynamicTexttime_usec">This text can be updated dynamically.</p>
-->

  <h2>Mavlink fields</h2>
  <h3>HEARTBEAT</h3>
  <h4>type</h4>
  <p id="type">This text can be updated dynamically. </p>
  <h4>base_mode</h4>
  <p id="base_mode">This text can be updated dynamically. </p>
  <h4>custom_mode</h4>
  <p id="custom_mode">This text can be updated dynamically. </p>


  <h3>SYS_STATUS</h3>
  <h4>voltage_battery</h4>
  <p id="voltage_battery">This text can be updated dynamically. </p>
  <h4>current_battery</h4>
  <p id="current_battery">This text can be updated dynamically. </p>
  <h4>battery_remaining</h4>
  <p id="battery_remaining">This text can be updated dynamically. </p>

  <h3>SYSTEM_TIME</h3>
  <h4>time_unix_usec</h4>
  <p id="time_unix_usec">This text can be updated dynamically. </p>

  <h3>GLOBAL_POSITION_INT</h3>
  <h4>time_boot_ms</h4>
  <p id="time_boot_ms">This text can be updated dynamically. </p>
  <h4>lat</h4>
  <p id="lat">This text can be updated dynamically. </p>
  <h4>lon</h4>
  <p id="lon">This text can be updated dynamically. </p>
  <h4>alt</h4>
  <p id="alt">This text can be updated dynamically. </p>
  <h4>relative_alt</h4>
  <p id="relative_alt">This text can be updated dynamically. </p>
  <h4>vx</h4>
  <p id="vx">This text can be updated dynamically. </p>
  <h4>vy</h4>
  <p id="vy">This text can be updated dynamically. </p>
  <h4>vz</h4>
  <p id="vz">This text can be updated dynamically. </p>
  <h4>hdg</h4>
  <p id="hdg">This text can be updated dynamically. </p>
  
  
  <h3>VFR_HUD</h3>
  <h4>airspeed</h4>
  <p id="airspeed">This text can be updated dynamically. </p>
  <h4>groundspeed</h4>
  <p id="groundspeed">This text can be updated dynamically. </p>
  <h4>heading</h4>
  <p id="heading">This text can be updated dynamically. </p>
  <h4>throttle</h4>
  <p id="throttle">This text can be updated dynamically. </p>
  <h4>climb</h4>
  <p id="climb">This text can be updated dynamically. </p>
  
  <h3>debugmsg:</h3>

  <div class="switch-container">
    <label class="switch-label" for="toggleSwitch">Debug </label>
    <label class="switch">
      <input type="checkbox" id="toggleSwitch" onchange="toggleFunction()"">
      <span class="slider"></span>
    </label>
  </div>

  <textarea id="dynamicTextdebugmsg" placeholder="Debug message..."></textarea>

 <!-- <p id="dynamicTextdebugmsg">This text can be updated dynamically.</p> -->

<!-- Bootstrap scripts -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<!-- User defined scripts -->
<script type='text/javascript' src="{% static 'js/websocketcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datastructure.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
<script type='text/javascript' src="{% static 'js/common.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vehicle_control.js' %}"></script>


</body>

</html>