<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudStation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet'/>
    {% load static %}
    <link href="{% static 'css/layoutstyle.css' %}" rel="stylesheet">

</head>
<input type="hidden" id="mapboxId" name="mapbox" value="{{MAPBOX_KEY}}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/flightmonitor">CloudStation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/flightmonitor">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a target="_blank" rel="noopener noreferrer" class="nav-link" href="https://cloud-station-docs.readthedocs.io/en/latest/">Docs</a>
            </li>
            <li class="nav-item">
                <a target="_blank" rel="noopener noreferrer" class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item dropdown ">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                {% else %}
                    <a class="nav-link dropdown-toggle" href="/accounts/login" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Log in/Sign up
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout">Log out</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item" href="/accounts/login">Log in</a>
                        <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                    </div>

                {% endif %}
            </li>
        </ul>

    </div>
</nav>

<body>
{% if user.is_authenticated %}
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
            type="text/css"
    />
    
    <div class="container-fluid">
	    <div class="row">
		 
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="vehicleID">Connect to Vehicle via ID:</label>
                    <input type="text" class="form-control" id="vehicleID">
                </div>
                <div class="form-group">
                    <div class="col-sm-10" id="connectbtnDIS">
                        <button type="button" class="btn btn-success" id="connectbtn" onclick="connectVehicle()">
                            Connect
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="disVID">Disconnect Vehicle via ID:</label>
                    <input type="text" class="form-control" id="disVID">

                </div>
                <div class="col-sm-10" id="disconnectbtn">
                    <button type="button" class="btn btn-danger" onclick="disconnectVehicle()">Disconnect</button>
                </div>

                <div class="col-sm-10" id="connectV">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Connected Vehicles</th>
                        </tr>
                        </thead>
                        <table id="dyTable">
                        </table>
                    </table>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="row" id="mapLayout">
                    <div class="col-sm-12" id="map">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="telemetry-log">Received telemetry data: </label>
                            <p><textarea id="telemetry-log" class="form-control" rows="8"></textarea><br/></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="row-sm-7" id="tabcontent">
			<button id="telemetryEditBtn">Edit</button>
			<!-- The Modal--> 
			<div id="myModal" class="modal">
			  <!-- Modal content--> 
			  <div class="modal-content">
			    <div class="modal-header">
			      <span class="close">&times;</span>
			      <h2>Modal Header</h2>
			    </div>
			    <div class="modal-body">
				<div class ="row">
					<div class="col">
						<h3 class="categoryName">GLOBAL_POSITION_INT</h3>
						<ul>
						   <li><label for="timeBootCheck">time_boot_ms</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="time_boot_ms"></li>
						   <li><label for="latCheck">lat</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="lat"></li>
						   <li><label for="lonCheck">lon</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="lon"></li>
						   <li><label for="altCheck">alt</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="alt"></li>
						   <li><label for="relativeAltCheck">relative_alt</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="relative_alt"></li>
						   <li><label for="vxCheck">vx</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="vx"></li>
						   <li><label for="vyCheck">vy</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="vy"></li>
						   <li><label for="vzCheck">vz</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="vz"></li>
						   <li><label for="hbgCheck">hdg</label>
							   <input type="checkBox" name="GLOBAL_POSITION_INTCheck" value="hdg"></li>
						</ul>
					</div>
					<div class="col">
						<h3 class="categoryName">BATTERY_STATUS</h3>
                                                <ul>
                                                   <li><label for="idCheck">id</label>
	                                                   <input type="checkBox" name="BATTERY_STATUSCheck" value="id"></li>
						   <li><label for="batteryFunctionCheck">battery_function</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="battery_function"></li>
						   <li><label for="typeCheck">type</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="type"></li>
						   <li><label for="temperatureCheck">temperature</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="temperature"></li>
                                                   <li><label for="voltagesCheck">voltages</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="voltages"></li>
                                                   <li><label for="currentBatteryCheck">current_battery</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="current_battery"></li>
						   <li><label for="currentConsumedCheck">current_consumed</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="current_consumed"></li>
                                                   <li><label for="energyConsumedCheck">energy_consumed</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="energy_consumed"></li>
                                                   <li><label for="batteryRemainingCheck">battery_remaining</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="battery_remaining"></li>
						   <li><label for="timeRemainingCheck">time_remaining</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="time_remaining"></li>
                                                   <li><label for="chargeStateCheck">charge_state</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="charge_state"></li>
                                                   <li><label for="voltagesExtCheck">voltages_ext</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="voltages_ext"></li>
                                                   <li><label for="modeCheck">mode</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="mode"></li>
                                                   <li><label for="fault_bitmaskCheck">fault_bitmask</label>
							   <input type="checkBox" name="BATTERY_STATUSCheck" value="fault_bitmask"></li>


						</ul>

					</div>
<!--
					<div class="col">
						<p id="testText">Ready for Test</p>
					</div>-->
				</div>
				<button id="submitTelemetryBtn" onclick="submitTelemetry()">Submit</button>
			    </div>
			    <div class="modal-footer">
			      <h3>Modal Footer</h3>
			    </div>
			  </div>

			</div>
 
			<ul id="tab-list" class="nav nav-tabs" role="tablist">
                        </ul>

                        <div id="tab-content" class="tab-content">

                        </div>

                    </div>
                    <div class="row-sm-5">

                    </div>
                </div>
            </div>

        </div>
    </div>
{% else %}
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <div id='map'></div>
{% endif %}

<script type="text/javascript" src="{% static 'js/datastructure.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type='text/javascript' src="{% static 'js/common.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
