
<!DOCTYPE html>
<html>

<head>
    <title>CloudStation Sign Up</title>
</head>
  
<body>
    <h2>Sign up</h2>

    <form method="POST">
        {% csrf_token  %}
        {{registerform.as_p}}
        <input type="submit" value="Register"/>
    </form>
</body>

</html>

<!--
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
-->