.vscode/launch.json
.vscode/settings.json
flight_data_collect/__pycache__/__init__.cpython-37.pyc
flight_data_collect/__pycache__/admin.cpython-37.pyc
flight_data_collect/__pycache__/consumers.cpython-37.pyc
flight_data_collect/__pycache__/mavlinkUtils.cpython-37.pyc
flight_data_collect/__pycache__/models.cpython-37.pyc
flight_data_collect/__pycache__/routing.cpython-37.pyc
flight_data_collect/__pycache__/urls.cpython-37.pyc
flight_data_collect/__pycache__/views.cpython-37.pyc
flight_data_collect/migrations/__pycache__/__init__.cpython-37.pyc
flight_data_collect/migrations/__pycache__/0001_initial.cpython-37.pyc
flight_data_collect/migrations/__pycache__/0002_remove_location_log_vehicle.cpython-37.pyc
flight_data_collect/migrations/__pycache__/0003_telemetry_log_timestamp.cpython-37.pyc
flight_data_collect/migrations/__pycache__/0004_auto_20190814_0049.cpython-37.pyc
flight_data_collect/migrations/
flightmonitor/__pycache__/__init__.cpython-37.pyc
flightmonitor/__pycache__/admin.cpython-37.pyc
flightmonitor/__pycache__/consumers.cpython-37.pyc
flightmonitor/__pycache__/models.cpython-37.pyc
flightmonitor/__pycache__/urls.cpython-37.pyc
flightmonitor/__pycache__/views.cpython-37.pyc
flightmonitor/migrations/__init__.py
flightmonitor/migrations/__pycache__/__init__.cpython-37.pyc
webgms/__pycache__/
db.sqlite3
.pydevproject
.project
.idea
*.pyc
__pycache__/
static/*
.env

