<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 20px;
    }
  </style>
  <title>Nested Columns</title>
</head>
<body>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <!-- Main content in the first column -->
      <h6>Main Content</h6>
      <p>This is the main content.</p>
    </div>
    
    <div class="col-md-6">
      <!-- Sub-row with nested columns in the second column -->


      <div class="row">
        <div class="col-md-6">
          <h6>Sub-Row Content 1</h6>
          <p>This is content in the sub-row.</p>
        </div>
        <div class="col-md-6">
          <h6>Sub-Row Content 2</h6>
          <p>This is more content in the sub-row.</p>
        </div>
      </div>


    </div>
  

</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
